<ion-view view-title="TheSongBook">
  <ion-content>
    <ion-item>
      <ion-label> Sam</ion-label>
      <ion-toggle disabled checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Sam</ion-label>
      <ion-toggle disabled checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Sam</ion-label>
      <ion-toggle disabled checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Sam</ion-label>
      <ion-toggle disabled checked="false"></ion-toggle>
    </ion-item>              
    <ion-tabs>
        <ion-tab tabIcon="contact" [root]="tab1"></ion-tab>
        <ion-tab tabIcon="compass" [root]="tab2"></ion-tab>
        <ion-tab tabIcon="analytics" [root]="tab3"></ion-tab>
        <ion-tab tabIcon="settings" [root]="tab4"></ion-tab>
      </ion-tabs>
  </ion-content>
</ion-view>
